<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="javascript:void(0)" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/master" class="nav-link active" routerLinkActive="active">Master</a>
        </li>
        <li class="nav-item">
          <a routerLink="/employee" class="nav-link" routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a routerLink="/client" class="nav-link" routerLinkActive="active">Client</a>
        </li>
        <li class="nav-item">
          <a routerLink="/client-project" class="nav-link" routerLinkActive="active">Client Projects</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container pt-1">
  <router-outlet></router-outlet>
</div>
